:root {
    --color1-bg: #FAA819; /* Color principal */
    --color1-bg1: #ffb84d; /* Tono más claro del color principal */
    --color1-txt: #1a1a1a; /* Texto oscuro para buen contraste */
    --color1-txt1: #ffffff; /* Texto claro para uso en fondos oscuros */

    --color2-bg: #262626; /* Negro suave para menos contraste */
    --color2-bg1: #3d3d3d; /* Tono intermedio del negro */
    --color2-txt: #ffffff; /* Texto blanco para contraste en fondo oscuro */
    --color2-txt1: #f8a61f; /* Color principal para resaltar en fondo oscuro */

    --color3-bg: #ffffff; /* Fondo blanco para secciones claras */
    --color3-txt: #1a1a1a; /* Texto oscuro para buen contraste en fondo claro */
    --color3-txt1: #f8a61f; /* Color principal para resaltar en fondo claro */

    --color4-bg: #f1f1f1; /* Fondo gris claro para una alternativa suave */
    --color4-txt: #333333; /* Texto gris oscuro para buen contraste */
    --color4-txt2: #f8a61f; /* Color principal para resaltar en fondo gris */
}

.--color1-bg {
    background-color: var(--color1-bg);
}

.--color1-txt {
    color: var(--color1-txt);
}

.--color1-txt1 {
    color: var(--color1-txt1);
}

.--color2-bg {
    background-color: var(--color2-bg);
}

.--color2-txt {
    color: var(--color2-txt);
}

.--color2-txt1 {
    color: var(--color2-txt1);
}

.--color3-bg {
    background-color: var(--color3-bg);
}

.--color3-txt {
    color: var(--color3-txt);
}

.--color3-txt1 {
    color: var(--color3-txt1);
}
